html{
    scroll-behavior: smooth;
}
/* Head-Logo-Section. */
.float-right{
    /* border: 2px solid black; */
    margin-top: 6px;
    margin-right: 13px;
    cursor: pointer;
}

.float-left{
    margin: 2px 7px;
    cursor: pointer;  
}

.float-left-shop:hover{
    border: 1px solid rgb(156, 199, 116) !important;
    border-radius: 12px !important;
    cursor: pointer;
}

/* Navbar-section. */
.navbar-brand{
    font-family: 'Acme', sans-serif;
    margin-left: 7px;
}

.navbar-brand:hover{
    color: cyan !important;
}

.bg-secondary{
    background-color: #274038!important;
}

.navbar{
    font-family: 'Acme', sans-serif;
    font-size: 1.3rem;
    width: 100% !important;
}
.nav-link:hover{
    border: 1px solid white;
    border-radius: 12px;
}

.dropdown-item{
    color: tomato;
}

.btn-outline-success{
    color: white     !important;
    border-color: greenyellow !important;
}

.btn-outline-success:hover{
    background-color: tomato !important;
}

.form-control:hover{
    border: 5px solid yellow;
}

/* .height-caraousel{
    height: 50% !important;
} */

/* .container{
    margin-left: 11px;
    border: 2px solid black;
    width: 100% !important;
}

.container-fluid{
    margin-left: 100px;
    border: 2px solid black ;
}

#Margin{
    margin-left: -150px;
}

#Margin2{
    margin-left: -282px;
} */

.container{
    margin-top: 5px;
}
/* .row{
    border: 2px solid;
}

.col{
    border: 2px solid;
} */

p {
    color: black;
    font-weight: bolder;
    font-size: 1.3rem;
    font-family: 'Sansita Swashed', cursive;
}

.h5, h5 {
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
    font-family:  'Sansita Swashed', cursive;
}

h3{
    font-family: 'Acme', sans-serif;
    border: 1px solid gray;
    border-radius: 12px;
    background-color: gray;
}

h3:hover{
    border: 3px solid yellow;
}

.card{
    border: none;
}

h2{
    font-family: 'Acme', sans-serif;
}

.bg{
    background-image: url('../About us/sea-2755908_1280.jpg');
    width: 100% !important;
}